<div class="jumbotron">
	<h1 carousel-caption>Placeholder Text</h1>
	<% if current_user %>

	<% else %>

		<a href='#'
		   class="btn home-btn btn-primary"
		   id='new_user_form'>
		     Sign Up
		</a>

		<a href='#'
		   class="btn home-btn btn-primary"
			 id='new_session_form'>
			   Sign In
		</a>

	<% end %>


</div>
