<button type="button" class="navbar-toggle"
	data-toggle="collapse" data-target="#my-nav">Expand</button>

<nav class="navbar navbar-default main-nav collapse navbar-collapse">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Placeholder</a>
	</div>
	<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<li><a href="/">Contact</a></li>
	  <li><a href="/">About</a></li>

		<% if ($.cookie('session_token')) { %>
		<li><a href="#" id="profile">Profile</a></li>
		<li><a href="#" id="groups">Groups</a></li>
		<li><a href="#" id="trips">Trips</a></li>
		<li><a href="#" id="sign_out">Sign Out</a></li>
		<% } %>
	</ul>
</nav>
