<h3>Log in</h3>

<form id="new_session_form">
  <label for="user_username">Username</label>
  <input type="text" id="user_username" name="user[username]">
  <label for="user_password">Password</label>
  <input type="password" id="user_username" name="user[password]">
  <input type="submit" value="Log In">
</form>