<% if (TravelApp.currentUser) { %>
<h3><%= TravelApp.currentUser.get('id') %></h3>
<% } %>
<h3><%= user.escape('name') %></h3>
<div class="col-xs-3">
	<div class="col-xs-12 profile-pic">
		<img src="http://placehold.it/150x200">
	</div>
	<br>
	<br>
	<div class="col-xs-12 profile-pic-caption">
		<h3>Caption</h3>
	</div>
</div>
<div class="col-xs-9">
	<h3>Text</h3>
</div>
<h3>Your Groups</h3>
<div class="col-xs-9 col-xs-offset-3 groups">
</div>
<h3>Your Trips</h3>
<div class="col-xs-9 col-xs-offset-3 trips">
</div>
<h3>Your Interests</h3>
<div class="col-xs-9 col-xs-offset-3 interests">
</div>
