<div class="col-xs-12">
	<div class="col-xs-3">
		<h4><%= user.escape('email') %></h4>
		<img class="profile-pic" src="http://placehold.it/100x100">
		<br>
		<br>
		<div class="col-xs-12 profile-pic-caption">
		</div>
	  <div id="interests"><strong>Interests</strong></div>
	</div>
	<div class="col-xs-9">

		  <button id="new-trip" class="btn btn-primary">Create a Trip</button>

		<h4 class="content-set">Upcoming Trips</h4>
		<div class="content" id="trips">
		</div>

		  <button id="new-group" class="btn btn-primary">Create a Group</button>

		<h4 class="content-set">Groups</h4>
		<div class="content" id="groups">
		</div>
	</div>
</div>