<div class="row">
	<div>
	  <div class="col-xs-4">
	    <h4>Create Group</h4>
	  </div>
	</div>
</div>
<form id="new_group_form" method="post">
	<div class="col-xs-4 group-new">
	<br>
	<br>
	<div>
		 <div class="row">
			  <div class="form-group">
				  <label for="group_title control-label">Title</label>
				  <input type="text" class="form-control" id="group_title" name="group[title]">
				</div>
			</div>
		</div>

		<div>
		  <div class="row">
				<div class="form-group">
				  <label for="group_theme control-label">Theme</label>
				  <input type="text" class="form-control" id="group_theme" name="group[theme]">
				</div>
			</div>
		</div>

		<div>
		  <div class="row">
				<div class="form-group">
				  <label for="group_description control-label">Description</label>
				  <textarea class="form-control" id="group_description" name="group[description]"></textarea>
				</div>
			</div>
		</div>

		<div>
		  <div class="row">
				<div class="form-group">
				  <label for="group_destination control-label">Privacy</label>
					<select name="group[privacy]" form="new_group_form">
						<option value="public">Public</option>
						<option value="private">Private</option>
					</select>
				</div>
			</div>
		</div>

		<div>
		  <div class="row">
				<input type="submit" class="btn btn-success add-group" value="Create Group">
			</div>
		</div>
	</div>
</form>


