<div class="col-xs-12 group" id="content-item-main">
	<div class="col-xs-2 image">
		<img src="<%= group.get('group_photo') %>">
	</div>
	<div class="col-xs-8">
		<div class="col-xs-8 col-xs-offset-2 content">
			<h4><%= group.escape('title') %></h4>
		</div>
		<div class="col-xs-8 col-xs-offset-2 content">
			<p><%= group.escape('theme') %></p>
		</div>
		<div class="col-xs-2 content">
			<button data-id="<%= group.get('id') %>" class="btn btn-primary btn-lg action join">Join</button>
		</div>
	</div>
</div>
<br>
<br>