<form id="new_trip_form" method="post">
	<div class="col-xs-4 col-xs-offset-4 trip-new">
	  <div class="row">
	    <h4>Create Trip</h4>
	  </div>
	</div>
	<br>
	<br>
	<div class="col-xs-4 col-xs-offset-4">
		 <div class="row">
			  <div class="form-group">
				  <label for="trip_title control-label">Title</label>
				  <input type="text" class="form-control" id="trip_title" name="trip[title]">
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-xs-offset-4">
		  <div class="row">
				<div class="form-group">
				  <label for="trip_theme control-label">Theme</label>
				  <input type="text" class="form-control" id="trip_theme" name="trip[theme]">
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-xs-offset-4">
		  <div class="row">
				<div class="form-group">
				  <label for="trip_description control-label">Description</label>
				  <textarea class="form-control" id="trip_description" name="trip[description]"></textarea>
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-xs-offset-4">
		  <div class="row">
				<div class="form-group">
				  <label for="trip_destination control-label">Destination</label>
					<input type="text" class="form-control" id="trip_destination" name="trip[start_loc]">
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-xs-offset-4">
		  <div class="row">
				<button class="btn btn-success add-events">Add Events</button>
			</div>
		</div>

		<div class="col-xs-8 col-xs-offset-2 trip-details" id="trip-events" data-lat="" data-lng="">
			<div class="row">
				<div class="col-xs-8">
					<input type="text" id="dest-search" name="dest-search">
				</div>
				<div class="col-xs-4">
					<input type="submit" id="new-events" class="btn btn-primary dest-search-submit" value="Find Places">
				</div>
			</div>
			<div id="map-canvas" class="new">
			</div>
		</div>
		<div class="col-xs-2 info-area">
			<div class="info-area-ul">
			</div>
		</div>
	</div>
</form>
