<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-3">
		  <img class="profile-pic" src="http://placehold.it/100x100">
	  </div>
		<div class="col-xs-9">
		  <h4><%= trip.escape('title') %></h4>
		  <h4><%= trip.escape('theme') %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-9">
		  <h4><%= trip.escape('title') %></h4>
		  <h4><%= trip.escape('theme') %></h4>
		</div>
	</div>
	<br>
	<br>
	<div class="col-xs-12 profile-pic-caption">
	</div>
</div>

